body {
	background-image: url("assets/images/Game-Wallpaper.jpg");
}

#buttons-here {
	text-align: center;
	margin-top: 30px;
}

#search-form {
	margin-top: 30px;
	text-align:center;
}

#gifs-here {
	margin-top: 30px;
	text-align: center;
}
.gif-buttons {
	background-color: #800080;
	color: white;
	padding: 10px;
}
.gif-container {
	display: inline-block;
}